/**
 * Custom styles to enhance the default VitePress theme.
 */

:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
  --vp-c-brand-3: #535bf2;
}

.VPImage.image-src {
  max-width: 200px;
}
